---
import "../styles/global.css";

import Toggle from '../components/Toggle.astro';
import Footer from '../components/Footer.astro';
import Develop from './develop.astro';
import Edition from './edition.astro';
---

<html lang="es" class="bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-gray-100 transition-colors duration-500">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/archlinux/archlinux-original.svg">
    <title>Portfolio | Moise Rebatta</title>
  </head>

  <body class="font-sans flex flex-col min-h-screen text-center">

    <!-- HEADER -->
    <header class="w-full border-b border-gray-300 dark:border-gray-800 p-6 flex flex-col sm:flex-row justify-center sm:justify-between items-center gap-4">
      <h1 class="text-2xl font-bold">Moises Rebatta</h1>
      <Toggle />
    </header>

    <!-- MAIN -->
    <main class="flex-grow container mx-auto px-6 py-10">
      <Develop />
      <Edition />
    </main>

    <Footer />
    <!-- Script para el toggle -->
    <script is:inline>
      const toggle = document.getElementById('modeToggle');
      const devSection = document.getElementById('desarrollo');
      const editSection = document.getElementById('edicion');

      toggle?.addEventListener('change', () => {
        const isEdit = toggle.checked;
        if (isEdit) {
          devSection.classList.add('hidden');
          editSection.classList.remove('hidden');
        } else {
          devSection.classList.remove('hidden');
          editSection.classList.add('hidden');
        }
      });
    </script>
  </body>
</html>
