
<!-- Toggle tipo switch -->
<div class="flex items-center gap-3">
  <span class="text-gray-400 select-none">Backend Developer & DevOps</span>
  <label class="relative inline-flex items-center cursor-pointer">
    <input type="checkbox" id="modeToggle" class="sr-only peer" />
    <div
      class="w-14 h-7 bg-slate-600 rounded-full after:content-[''] after:absolute 
             after:top-[3px] after:left-[3px] after:bg-white after:rounded-full 
             after:h-6 after:w-6 after:transition-all peer-checked:after:translate-x-7">
    </div>
  </label>
  <span class="text-gray-400 select-none">Edición de Video</span>
</div>